@tailwind base;
@tailwind components;
@tailwind utilities;


.scroller {
    animation: 20s scroll alternate infinite;
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
  
    to {
      transform: translateX(-100%);
    }
  }

  .movie-scroller {
    animation: 10s scroll alternate infinite;
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
  
    to {
      transform: translateX(100%);
    }
  }